.about {
    margin:90px auto 64px auto;
    background-color: var(--background);
    text-align: center;   
}
.container-about{
    margin: auto;
max-width: 815px;
width: 100%;
}

.about-h2 {
text-align: center;
font-size: 34px;
font-weight: 700;
margin: 56px 0 43px 0;

}

.about-h3 {
    max-width: 812px;
    width: 100%;
    font-size: 18px;
    color: var(--text-black); 
    text-align: center; 
    margin: 42px 0 11px 0;
    font-weight: 500;
}

.about-p {
    max-width: 780px;
    width: 100%;
    text-align: justify;
    color:var(--text-black);
    font-size: 18px;
    margin: 11px 0 15px 0;
    font-weight: 500;
}

.about-hr {
    max-width: 420px;
  
    border: 0;
    background-color:var(--text-grey);
    height: 2px;
    margin: 0 auto 18px auto;
    font-weight: 700;
}

.about-h3-en {
    max-width: 785px;
    width: 100%;
    text-align: center;
    margin: 18px 0 8px 0;
    color: var(--text-black);
    font-size: 18px;
    font-weight: 500;
}

.about-text-en {
    width: 784px;
    width: 100%;
    margin: 8px 0 98px 0;
    text-align:justify;
    font-weight: 500;
    font-size: 18px;
}

@media(max-width:480px){

    .about {
      max-width:414px;
      width: 100%;
}
      
.container-about {
    text-align: center;
    max-width:375px;
    width: 100%;
    margin: 78px 39px 50px 0px;
}
.about-h2 {
    margin: 50px 0 42px 0;
}
.about-h3 {
    text-align: center;
    max-width: 316px;
    width: 100%;
    margin:42px auto 15px auto ;
}
.about-p {
   max-width: 316px;
   width: 100%;
   margin:15px auto 19px auto;
   text-align: justify;
}
.about-hr {
    max-width: 300px;
    margin: auto;
}
.about-h3-en {
    max-width: 316px;
    width: 100%;
    margin: 30px auto 15px auto;
    text-align: center;
}
.about-text-en {
    max-width: 316px;
    width: 100%;
    margin: 15px auto 62px auto;
    text-align: justify;
}

}