.header{
    max-width: 940px;
    margin: auto;
    margin-top: 24px;
    padding: 25px 0 0 0;
}

.nav{
 width: 100%;
}

.nav::after{
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: black;
    margin-top:32px;
}

.list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    color: var(--text-grey);
    position: relative;
    font-family: 18px;
    font-weight: 700;
    
}

.link::after{
    content: "";
    height: 1px;
    background-color: var(--text-black);
    position: absolute;
    left: 0;
    bottom:-10px;
    right: 100%;
    transition: right 02ms;
}

.link:hover{
color: var(--text-black );
}
.link:hover:after{
    right: 0;
}

@media (max-width:480px){
    .header{
        display: none;
    }
}



